// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Roboto;
}

.lab {
  /*width: 33%;*/
  font-size: 20px;
  font-family: Roboto;
}

#name {
  /*width: 67%;*/
  float: right;
}

.mybtn {
  margin-top: 10px;
}

.class {
  font-family: Roboto;
  margin-bottom: 5px;
}


